#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#setup {
  border-color: white;
  border-style: double;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
}

#setup-area {
  background-color: rgb(209, 136, 39);
  opacity: 80%;
  width: 80%;
  height: 80%;
  align-self: center;
  position: fixed;
}

#toolbar {
  display: flex;
  justify-content: space-around;
  max-height: 50PX;
}

.title {
  position:relative; 
}

.table-obj {
  border-radius: 50%;
  /* text-align: center;
  line-height: 60px; */
}

.circle {
  background-color: bisque;
  border-radius: 50%;
  color: darkorchid
}

.rectangle {
  background-color: lightcoral;
  border-radius: 2%;
}
.input {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 40px;
}

.input-button {
  position: relative;
  top: -30px;
  left: 50px;
  /* max-height: 20px;
  max-width: 20px; */
  font-size: 12pt;
  /* font-display: ; */
}

.hidden {
  display: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
